.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px 30% 10px 10px;
  margin: 10px 0;
  -webkit-box-shadow: 3px 4px 10px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 10px -2px rgba(0, 0, 0, 0.75);
}

.delete-btn {
  background-color: #4595d6;
  cursor: pointer;
  color: #000000;
  border: 0;
  font-size: 20px;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  left: -7px;

  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
