.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px 30% 10px 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 25px solid green;
}
.list li.minus {
  border-right: 25px solid green;
}

/* .list li.plus {
  position: relative;

  overflow: hidden;
}
.list li.plus:before {
  content: "";
  position: absolute;
  left: 45%;
  width: 100%;
  height: 200%;
  background-color: rgb(255, 255, 255);
  background-color: #2ecc71;
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(320deg);
}

.list li.minus {
  position: relative;

  overflow: hidden;
}
.list li.minus:before {
  content: "";
  position: absolute;
  left: 45%;
  width: 100%;
  height: 200%;
  background-color: rgb(255, 255, 255);
  background-color: #c72d2d;
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(320deg);
} */

.delete-btn {
  background-color: #4595d6;
  cursor: pointer;
  color: #000000;
  border: 0;
  font-size: 30px;
  position: absolute;
  top: 40%;
  left: 0;

  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
